/* *{
    background-color: red;
} */

#searchForm{
    display: none;
}

#hambug{
    display: flex;
}

#genDigBtn{
    width: 100%;
}

@media screen and (max-width:535px) {
    body::before {
        width: 95vw;
        margin: auto;
    }
}